body{
    background-image:url("Media/gecbackgrnd.png");
    /* image to use as backdrop */
    background-repeat:no-repeat; /* so image does not tile */
    background-size: cover; /* so image fills whole page without losing proportion */
    background-color: rgb(155, 182, 169); /* if browser canno tdisplay image */
    }


#art{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    }
    
.navBar{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap ;
    border: cornsilk solid 6px;
    gap: 20px;
    font-size: 20px;
    justify-content: space-evenly;
}

.why{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6em;
    color: beige;
    padding-top: 5px;
    padding-left:80px;
    padding-right: 120px;
    padding-bottom: 10px;
    column-gap: 5px;
    align-items: center;
}

.intro{
    background-color: rgb(150, 192, 150);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 40pt;
}

.navBar:hover{
    font-size: large;
    background-color: rgb(150, 192, 150);
    
}

.about{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: beige;
    border:cornsilk solid 8px;
    border-radius: 10%;
    text-align: center;
}


.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px;
    border-color: black;
    justify-content: center;
}

.gitem1{
border: 12px;
margin: 15px;
align-content: space-around;
justify-items:baseline;
border:10px,;
border-color: rgb(240, 61, 61);
border-style: double;
}
.gitem1:hover{
    transform: scale(1.3, 1.3);
    }

.gitem2{
    border: 10px;
    border-color: blue;
    border-style: double;
    margin: 15px;
    align-content: space-around;
    justify-items:baseline;
    }
    .gitem2:hover{
        transform: scale(1.3, 1.3);
        }

.gitem3{
    border: 10px;
    border-color: rgb(233, 58, 154);
    border-style: double;
    margin: 15px;
    align-content: space-around;
    justify-items:center;
    }
.gitem3:hover{
    transform: scale(1.3, 1.3);
    }


.gitem4{
    border: 10px;
    border-color: rgb(138, 121, 232);
    border-style: double;
    margin: 15px;
    align-content: space-around;
    justify-items:center;
}
.gitem4:hover{
    transform: scale(1.3, 1.3);
    }

.gitem5{
    border: 10px;
    border-color: rgb(103, 239, 53);
    border-style: double;
    margin: 15px;
    justify-content: center;
    z-index: 0;
}
        
.gitem5:hover{
    transform: scale(1.1, 1.1);
    z-index: 1;
        }


#crazy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}


.footer{
    display:flex;
    
    flex-direction:row;
    row-gap: 25px;
    border: 10px solid  cornsilk;
    border-radius: 20%;
    padding: 10px;
    font-size: 1.2em;
    color: beige;
    z-index: 2;
}

.events{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 12px groove cornsilk;
    border-radius: 15%;
    margin-top: 12px;
    margin-bottom: 15px;
    text-shadow:10px;
    padding: 35px;
}

label{
    color:beige;
    font-size: 30x;
}

.sitelinks{
    display:grid;
    grid-template-columns: auto auto auto;
    background-color: beige;
    padding: 12px;
    border: 8px solid ;
    border-radius: 10%;
    text-align: center;
    font-size: 2em;
}

.grid-item{
background-color: bisque;
border: 2px solid  rgb(155, 182, 169);
padding: 20px;
font-size: 18px;
text-align: center;
}

.grid-item2{
    background-color: bisque;
    border: 2px solid  rgb(155, 182, 169);
    padding: 15x;
    font-size: 1.83m;
    text-align: center;
    }

    /* ============                glass page =================================================================================== */ 

    

.sliders-container {
    display: grid;
    grid-template-columns:40% 60%;
    grid-template-rows: repeat (6, 1fr);
    background-color: beige;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: 2em;
    border-width: 11px;
    border-color: black;
    border-radius: 5%;
    box-shadow: 10px 10px 5px;
    }

.redslider{
    grid-row: 1;
    border-color: 20px black;
    background-color: rgba(255, 0, 0, 0.5);

    border-radius: 50%;
    padding:80px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px;
    animation: moveToRight 1s ease-in-out 1;
    animation-delay: 2s
}

    @keyframes moveToRight{
    0%  {
    transform: translateX(-580px);}
    90% {
    transform: translateX(0px);}
    100% {
    transform: rotate(7deg);
        }   
                        }


.redcontent{
    grid-row: 1 ;
    grid-column-start: 2;
    border: 6px solid red;
    border-radius: 5%;
    padding: 20px;
    text-align:left;
    margin: 20px;
   }


.blueslider{
    
    grid-row: 2;
    border-color: 20px black;
    background-color: rgba(0, 0, 255, 0.301);
    border-radius: 50%;
    padding: 80px;
    box-shadow: 10px 10px 5px;
    margin-bottom: 10px;
    }


.bluecontent{
    grid-row: 2 ;
    grid-column-start: 2;
    border: 6px solid blue;
    border-radius: 5%;
    padding: 20px;
    text-align:left;
    margin: 20px;
}

.greenslider{
        
    grid-row: 3 ;
    border-color: 20px black;
    background-color: rgba(0, 128, 0, 0.274);
    border-radius: 50%;
    padding: 80px;
    box-shadow: 10px 10px 5px;
    margin-bottom: 10px;
}

.greencontent{
    grid-row: 3 ;
    grid-column-start: 2;
    border: 6px solid green;
    border-radius: 5%;
    padding: 20px;
    text-align:left;
    margin: 20px;
}

.yellowslider{
            
    grid-row: 4 ;
    border-color: 20px yellow;
    background-color: rgba(255, 255, 0, 0.212);
    border-radius: 50%;
    padding: 80px;
    box-shadow: 10px 10px 5px;
    margin-bottom: 10px;
}

.yellowcontent{
    grid-row: 4 ;
    grid-column-start: 2;
    border: 6px solid yellow;
    border-radius: 10%;
    padding: 20px;
    text-align:left;
    margin: 20px;
}

.blackslider{
    grid-row: 5 ;
    border-color: 20px black;
    background-color: rgba(128, 128, 128, 0.534);
    border-radius: 50%;
    padding: 80px;
    box-shadow: 10px 10px 5px;
    margin-bottom: 10px;
}

.blackcontent{
    grid-row: 5 ;
    grid-column-start: 2;
    border: 6px solid black;
    border-radius: 10%;
    padding: 20px;
    text-align:left;
    margin: 20px;
}

.orangeslider{
    grid-row: 6 ;
    border-color: 20px orange;
    background-color: rgba(255, 166, 0, 0.295);
    border-radius: 50%;
    padding: 80px;
    box-shadow: 10px 10px 5px;
    margin-bottom: 10px;
    right: -100px;}

.orangecontent{
    grid-row: 6 ;
    grid-column-start: 2;
    border: 6px solid orange;
    border-radius: 5%;
    padding: 20px;
    text-align:left;
    margin: 20px;
}