body{
    background-image:url("Media/gecbackgrnd.png");
    background-image:;

    background-color: rgb(155, 182, 169);
    }


#art{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    }
    
.navBar{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap ;
    border: cornsilk solid 6px;
    gap: 20px;
    font-size: 20px;
    justify-content: space-evenly;
}

.why{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6em;
    color: beige;
    padding-top: 5px;
    padding-left:80px;
    padding-right: 120px;
    padding-bottom: 10px;
    column-gap: 5px;
    align-items: center;
}

.intro{
    background-color: rgb(150, 192, 150);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 40pt;
}

.navBar:hover{
    font-size: large;
    background-color: rgb(150, 192, 150);
    
}

.about{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: beige;
    border:cornsilk solid 8px;
    border-radius: 10%;
    text-align: center;
}


.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px;
    border-color: black;
    justify-content: center;
}

.gitem1{
border: 12px;
margin: 15px;
align-content: space-around;
justify-items:baseline;
border:10px,;
border-color: rgb(240, 61, 61);
border-style: double;
}
.gitem1:hover{
    transform: scale(1.3, 1.3);
    }

.gitem2{
    border: 10px;
    border-color: blue;
    border-style: double;
    margin: 15px;
    align-content: space-around;
    justify-items:baseline;
    }
    .gitem2:hover{
        transform: scale(1.3, 1.3);
        }

.gitem3{
    border: 10px;
    border-color: rgb(233, 58, 154);
    border-style: double;
    margin: 15px;
    align-content: space-around;
    justify-items:center;
    }
.gitem3:hover{
    transform: scale(1.3, 1.3);
    }


.gitem4{
    border: 10px;
    border-color: rgb(138, 121, 232);
    border-style: double;
    margin: 15px;
    align-content: space-around;
    justify-items:center;
}
.gitem4:hover{
    transform: scale(1.3, 1.3);
    }

.gitem5{
    border: 10px;
    border-color: rgb(103, 239, 53);
    border-style: double;
    margin: 15px;
    justify-content: center;
    
}

#crazy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}


.footer{
    display:flex;
    
    flex-direction:row;
    row-gap: 15px;
    border: 10px solid  cornsilk;
    border-radius: 20%;
    padding: 10px;
    font-size: 1.2em;
    color: beige;
}

.events{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 12px groove cornsilk;
    border-radius: 15%;
    margin-top: 12px;
    margin-bottom: 15px;
    text-shadow:10px;
    padding: 35px;
}